html {
    padding: 0;
    margin: 0;
    background: #f2f2f2;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

h3, p {
    margin-block-start: 0;
  margin-block-end: 0;
}